recursive-include orangecontrib *.pyx
recursive-include orangecontrib *.py

recursive-include orangecontrib/xoppy/widgets *.png *.svg *.ico *.jpg *.bmp

recursive-include orangecontrib/xoppy/util/bin/darwin *
recursive-include orangecontrib/xoppy/util/bin/linux *
recursive-include orangecontrib/xoppy/util/bin_run *.txt
recursive-include orangecontrib/xoppy/util/data *
recursive-include orangecontrib/xoppy/util/doc_txt *.txt *.par

recursive-include libraries/darwin *
recursive-include libraries/linux *

include README.txt